# EditorConfig is awesome: https://EditorConfig.org
# Last Modified: 2024/01/09 12:26:58

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true
