# Ignore all SCSS files:
# *.scss

# Ignore config files
**/*.config.js
**/*.config.cjs
**/*.config.mjs

# Ignore already-minified files
**/*.min.js
**/*.min.css

# Ignore specific files
**/_variables.scss
**/_angled-edges.scss

# Ignore hamburger types
# **/scss/hamburgers/types/*.scss
