/* AOSO Teams & Schedule (starter styles)
   Focus: structure + class hooks — you’ll deepen the look in your theme SCSS. */

@use "sass:math";
@use "sass:color";

/*********************
COLORS
*********************/
// Black
$black: #000;
$black-light: color.adjust($black, $lightness: 12.5%);
$black-lighter: color.adjust($black, $lightness: 25%);

// White
$white: #fff;
$white-dark: color.adjust($white, $lightness: -3.5%);
$white-darker: color.adjust($white, $lightness: -7%);

// Green
$aoso-green: #266041;
$aoso-green-light: color.scale($aoso-green, $lightness: 10%);
$aoso-green-dark: color.scale($aoso-green, $lightness: -10%);
$aoso-green-faint: color.mix($aoso-green, $white, 50%);
$aoso-green-pale: color.mix($aoso-green, $white, 20%);

// Mid Green
$aoso-mid-green: #4a9462;
$aoso-mid-green-light: color.scale($aoso-mid-green, $lightness: 10%);
$aoso-mid-green-dark: color.scale($aoso-mid-green, $lightness: -10%);
$aoso-mid-green-faint: color.mix($aoso-mid-green, $white, 50%);
$aoso-mid-green-pale: color.mix($aoso-mid-green, $white, 20%);

// Pale Green
$aoso-pale-green: #a1d683;
$aoso-pale-green-light: color.scale($aoso-pale-green, $lightness: 10%);
$aoso-pale-green-dark: color.scale($aoso-pale-green, $lightness: -10%);
$aoso-pale-green-faint: color.mix($aoso-pale-green, $white, 50%);
$aoso-pale-green-pale: color.mix($aoso-pale-green, $white, 20%);

/*********************
VARIABLES
*********************/
$default-subtle-opacity: 0.5;

/*********************
FLUID SIZING
*********************/
// Based on: https://archive.ph/fAimJ
// Clamp support: https://caniuse.com/?search=clamp()
$default-min-bp: 360px;
$default-max-bp: 900px;

@function custom-round($number, $decimals: 2) {
    $n: 1;

    @if $decimals > 0 {
        @for $i from 1 through $decimals {
            $n: $n * 10;
        }
    }

    @return math.div(math.round($number * $n), $n);
}

@function px-to-rem($px) {
    $rems: math.div($px, 16px) * 1rem;

    @return $rems;
}

/**
 * Function: fluid
 * Description: Generates a fluid value between two breakpoints using specified units.
 * Parameters:
 *   $min-size - The minimum size of the fluid value.
 *   $max-size - The maximum size of the fluid value.
 *   $min-breakpoint - The minimum viewport breakpoint. Defaults to $default-min-bp.
 *   $max-breakpoint - The maximum viewport breakpoint. Defaults to $default-max-bp.
 *   $unit - The unit for the fluid value. Defaults to vw.
 * Returns:
 *   A fluid value between $min-size and $max-size based on viewport width.
 */
@function fluid($min-size, $max-size, $min-breakpoint: $default-min-bp, $max-breakpoint: $default-max-bp, $unit: vw) {
    // Calculate slope of the linear equation.
    $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
    // Convert slope to specified unit.
    $slope-to-unit: custom-round($slope * 100, 2);
    // Calculate intercept in rem.
    $intercept-rem: custom-round(px-to-rem($min-size - $slope * $min-breakpoint), 2);
    // Convert minimum size to rem.
    $min-size-rem: custom-round(px-to-rem($min-size), 2);
    // Convert maximum size to rem.
    $max-size-rem: custom-round(px-to-rem($max-size), 2);

    /* prettier-ignore */
    @return clamp( #{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem} );
}

/*********************
STYLES
*********************/

body.single-aoso_schedule {
    .standard-wrap {
        inline-size: 98vw;
    }
}

article.aoso_schedule {
    .aoso-schedule__header {
        display: none;
    }
}

.aoso-schedule {
    --gap: 0.25rem;

    margin-block: 1rem;
    margin-inline: 0;
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        Arial,
        sans-serif;
    line-height: 1.1;
}

.aoso-schedule__header {
    display: flex;
    gap: 1rem;
    align-items: baseline;

    padding-block: 0.5rem;
    padding-inline: 0.75rem;

    // background: #f1f5f9;
}

.aoso-schedule__title {
    margin: 0;
    font-size: 1.125rem;
}

.aoso-schedule__grid {
    display: grid;
    // gap: var(--gap);
    margin-block: 0.5rem;
    font-size: 0.75rem;
}

.aoso-schedule__grid-head,
.aoso-schedule__grid-body > .aoso-schedule__row {
    display: grid;
    grid-template-columns: 1.5rem repeat(3, 30%); /* Time + 3 fields by default; grid still works if you add/remove columns */
    gap: var(--gap);
}

// .aoso-schedule__cell {
// padding: 0.5rem;
// border: 1px solid #e2e8f0;
// border-radius: 0.375rem;
// background: #fff;
// }

// .aoso-schedule__cell--head {
// font-weight: bold;
// background: #eef2ff;
// }

.aoso-schedule__cell--time,
.aoso-schedule__cell--time-key {
    // background: #f8fafc;
    font-size: 0.7rem;
    text-align: center;
}

.aoso-schedule__cell--time {
    margin-block-start: auto;
}

.aoso-schedule__cell--time-key {
    margin-block: auto;
}

.aoso-schedule__field-head-inner {
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;
    align-items: center;
    padding: 0.25rem;
    // justify-content: space-between;
}

.aoso-schedule__hoa-wrap {
    display: inline-block;
    line-height: 1;
    opacity: $default-subtle-opacity;
}

// .aoso-schedule__hoa {
// font-size: 0.825rem;
// opacity: $default-subtle-opacity;
// }

.aoso-schedule__hoa--home,
.aoso-schedule__hoa--away {
    display: inline-block;
    min-inline-size: 36px;
}

.aoso-schedule__hoa--home {
    text-align: end;
}

.aoso-schedule__hoa--away {
    text-align: start;
}

.aoso-schedule__hoa--vs {
    margin-block: 0;
    margin-inline: 0.1rem;
}

.aoso-match {
    display: grid;
    grid-template-columns: 44% auto 44%;
    align-items: stretch;
    block-size: 100%;
}

.aoso-vs {
    display: grid;
    place-items: center;

    padding-block: 0;
    padding-inline: 0;

    font-size: 0.65rem;

    opacity: $default-subtle-opacity;
}

.aoso-team {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;

    min-block-size: 2.2rem;
    padding-block: 1rem;
    padding-inline: 0.3rem;
    // border-radius: 0.25rem;

    font-weight: bold;
    hyphens: auto;
    text-align: center;
    // word-break: break-word;
    word-break: normal;
    overflow-wrap: anywhere;
    // overflow-wrap: break-word;
    // word-wrap: break-word;
}

.aoso-team__logo {
    display: block;
    inline-size: auto;
    block-size: 1.2rem;
}

.aoso-team__name--tbd {
    opacity: $default-subtle-opacity;
}

.aoso-matchday__header {
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    background-color: $aoso-pale-green;
}

.aoso-matchday__title {
    margin: 0;

    font-size: fluid(18px, 28px);
    line-height: 1.15;
    color: $black;
    text-align: center;
}

.aoso-matchday__title-label {
    opacity: $default-subtle-opacity;
}

.aoso-schedule__notice {
    padding-block: 0.5rem;
    padding-inline: 0.75rem;

    font-size: 1.25rem;
    font-weight: bold;
    color: $white;
    text-align: center;

    background-color: $aoso-mid-green;

    p {
        &:last-of-type {
            margin-block-end: 0;
        }
    }
}

.aoso-matchday {
    &:last-of-type {
        hr {
            display: none;
        }
    }
}

@media (min-width: 540px) {
    body.single-aoso_schedule {
        .standard-wrap {
            inline-size: 92vw;
        }
    }

    .aoso-schedule {
        --gap: 0.75rem;
    }

    .aoso-schedule__grid-head,
    .aoso-schedule__grid-body > .aoso-schedule__row {
        grid-template-columns: 3rem repeat(3, 1fr);
    }

    .aoso-schedule__cell--time,
    .aoso-schedule__cell--time-key {
        font-size: 0.75rem;
    }

    .aoso-vs {
        padding-inline: 0.2rem;
        font-size: 0.75rem;
    }
}

@media (min-width: 900px) {
    body.single-aoso_schedule {
        .standard-wrap {
            inline-size: 88vw;
        }
    }

    .aoso-schedule__grid,
    .aoso-schedule__cell--time,
    .aoso-schedule__cell--time-key,
    .aoso-vs {
        font-size: 1rem;
    }

    .aoso-schedule__grid-head,
    .aoso-schedule__grid-body > .aoso-schedule__row {
        grid-template-columns: 5rem repeat(3, 1fr);
    }

    .aoso-schedule__hoa--home,
    .aoso-schedule__hoa--away {
        min-inline-size: 45px;
    }

    .aoso-match {
        grid-template-columns: 1fr auto 1fr;
    }

    // .aoso-schedule__hoa--vs {
    //     font-size: 1rem;
    // }
}
